In [36]:
import sqlite_utils

In [37]:
import pandas as pd

In [38]:
db = sqlite_utils.Database("../linkedIn_App/linkedIn_Analysis.db")

In [39]:
query = """
SELECT 
              job_id,
              job_id, job_title, company, job_details,
              json_extract(analysis, '$."Summary".match_score') AS match_score,
              json_extract(analysis, '$."Summary".strengths') AS strengths,
              json_extract(analysis, '$."Summary".gaps') AS gaps,
              json_extract(analysis, '$."Summary".detailed_analysis') AS detailed_analysis,
               footer_info
          FROM jobs
          ORDER BY match_score DESC
"""
rows = db.query(query)
df=pd.DataFrame(list(rows))
df.head(25)

,job_id,job_title,company,job_details,match_score,strengths,gaps,detailed_analysis,footer_info
0,4021602828,Engineering Manager (FTC),Funding Circle UK,"[""London, England, United Kingdom (On-site)""]",8.0,"[""Extensive leadership experience in managing ...","[""No explicit mention of frontend technologies...",David Roberts has a strong background in manag...,"[""Viewed"", ""Promoted""]"
1,4022928956,Head of Engineering,Plexus Resource Solutions,"[""London Area, United Kingdom (Hybrid)"", ""$200...",8.0,"[""Extensive leadership experience managing mid...","[""No explicit experience with Golang"",""Limited...",David Roberts has a robust background in leadi...,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
2,3987177013,Engineering Manager - Backend focussed (Java),Rightmove,"[""London, England, United Kingdom (Hybrid)""]",8.0,"[""Extensive leadership experience in software ...","[""No direct mention of experience in the real ...",David Roberts has a strong background in manag...,"[""Viewed"", ""Promoted""]"
3,4022676296,Head of Engineering,EMR,"[""Birmingham, England, United Kingdom (On-site)""]",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
4,3956336222,"Director of Engineering, Professional Services",Genius Sports,"[""London, England, United Kingdom""]",NaN,None,None,None,"[""Viewed"", ""Promoted""]"
5,4015905748,Clay Operations Engineering Manager,Plasmor Ltd,"[""Great Heck, England, United Kingdom (On-site)""]",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
6,4021002157,Engineering Manager,FINESSE,"[""London Area, United Kingdom (On-site)""]",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
7,4023604500,Engineering Manager,NewDay,"[""Greater London, England, United Kingdom (Hyb...",NaN,None,None,None,"[""Viewed"", ""Promoted""]"
8,4030788100,Senior Engineering Manager,Formula Recruitment,"[""London Area, United Kingdom (On-site)"", ""¬£10...",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
9,4034505988,Security Engineering Manager,Barclay Simpson,"[""Northampton, England, United Kingdom (Hybrid)""]",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
10,4008273982,Engineering Manager,Checkout.com,"[""London, England, United Kingdom (Hybrid)""]",NaN,None,None,None,"[""Applied""]"
11,4015227934,ü§ºüëØüßë‚Äçü§ù‚ÄçüßëSoftware Engineering Manager - Digital,Humand Talent,"[""Cheltenham, England, United Kingdom (Remote)...",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
12,4029517117,Engineering Manager - Media Platform,Cloudflare,"[""Greater London, England, United Kingdom (Hyb...",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
13,4025812899,Engineering Manager,NatWest Boxed,"[""London, England, United Kingdom (Hybrid)""]",NaN,None,None,None,"[""Viewed"", ""Promoted""]"
14,4023635741,Senior Engineering Manager - Growth,Cleo,"[""London Area, United Kingdom (Hybrid)""]",NaN,None,None,None,"[""Viewed"", ""Promoted""]"
15,3939350117,"Engineering Manager, London",Multiverse,"[""London, England, United Kingdom""]",NaN,None,None,None,"[""Viewed"", ""Promoted""]"
16,4000830923,VP of Engineering,Fresha,"[""London, England, United Kingdom (On-site)""]",NaN,None,None,None,"[""Viewed"", ""Promoted""]"
17,4030278452,"Director, Engineering",Intercom,"[""London, England, United Kingdom (Hybrid)""]",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
18,3945701707,Platform Engineering Manager,Scandit,"[""United Kingdom (Remote)""]",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
19,3984102640,Engineering Manager - Native Mobile Apps,Rightmove,"[""London, England, United Kingdom (Hybrid)""]",NaN,None,None,None,"[""Viewed"", ""Promoted""]"
20,4032775817,Head of Engineering,RedCat Digital,"[""London Area, United Kingdom (On-site)"", ""¬£13...",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
21,4012616896,Engineering Manager,Trinny London,"[""London, England, United Kingdom (Hybrid)""]",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"
22,4034171980,Engineering Manager,SWARCO,"[""Milton Keynes, England, United Kingdom (Hybr...",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Be an early applicant""]"
23,4012845626,Head of Engineering,Page Executive,"[""East Sussex, England, United Kingdom (Hybrid...",NaN,None,None,None,"[""Viewed"", ""Promoted""]"
24,4030863921,Engineering Manager,TrustedHousesitters,"[""Brighton, England, United Kingdom (Remote)""]",NaN,None,None,None,"[""Viewed"", ""Promoted"", ""Easy Apply""]"

In [23]:
query = """
SELECT 
              *
          FROM jobs
"""
rows = db.query(query)
df=pd.DataFrame(list(rows))
df.head(5)

,job_id,job_title,company,job_details,footer_info,job_desc_txt,analysis
0,4021602828,Engineering Manager (FTC),Funding Circle UK,"[""London, England, United Kingdom (On-site)""]","[""Viewed"", ""Promoted""]",About the job\nDescription\n\nEngineering Mana...,"{""Summary"": {""match_score"": 9, ""strengths"": [""..."
1,4022928956,Head of Engineering,Plexus Resource Solutions,"[""London Area, United Kingdom (Hybrid)"", ""$200...","[""Viewed"", ""Promoted"", ""Easy Apply""]",About the job\n\nHead of Engineering ‚Äì Web3 In...,"{""Summary"": {""match_score"": 8, ""strengths"": [""..."
2,4032872449,Engineering Operations Manager / Technical Pro...,Homely,"[""Manchester, England, United Kingdom (Hybrid)""]","[""Viewed"", ""Promoted"", ""Easy Apply""]","About the job\n\nHomely:\n\nAt Homely, we‚Äôre d...","{""Summary"": {""match_score"": 7, ""strengths"": [""..."
3,3987177013,Engineering Manager - Backend focussed (Java),Rightmove,"[""London, England, United Kingdom (Hybrid)""]","[""Viewed"", ""Promoted""]",About the job\nWe are on a mission to make the...,"{""Summary"": {""match_score"": 9, ""strengths"": [""..."
4,3956336222,"Director of Engineering, Professional Services",Genius Sports,"[""London, England, United Kingdom""]","[""Viewed"", ""Promoted""]",About the job\nA Bit About Us\n\nDo you want t...,"{""Summary"": {""match_score"": 9, ""strengths"": [""..."

In [40]:
db.create_view(
    "view1",
        """
    SELECT 
        job_id, 
        job_title, 
        company, 
        job_details, 
        json_extract(analysis, '$."Summary".match_score') AS match_score,
        json_extract(analysis, '$."Summary".strengths') AS strengths,
        json_extract(analysis, '$."Summary".gaps') AS gaps,
        json_extract(analysis, '$."Summary".detailed_analysis') AS detailed_analysis,
        footer_info
    FROM jobs
    ORDER BY match_score DESC
    """
)

In [41]:
db.view_names()

['view1']

In [ ]:
"""